
<div class="imagen">
  <div class="capa-imagen">
      <div class="calculadora">

        <div class="panel ">
          <div class="texto-panel">0</div>
        </div>

        <div class="tecla">
          <div class="fila1">
            <div class="tecla-blanca"><div class="color-negro">AC</div></div>
            <div class="tecla-blanca"><div class="color-negro">DE</div></div>
            <div class="tecla-blanca"><div class="color-negro">.</div></div>
            <div class="tecla-azul"><div class="color-blanco">/</div></div>
          </div>
          <div class="fila2">
            <div class="tecla-ploma"><div class="color-blanco">7</div></div>
            <div class="tecla-ploma"><div class="color-blanco">8</div></div>
            <div class="tecla-ploma"><div class="color-blanco">9</div></div>
            <div class="tecla-azul"><div class="color-blanco">*</div></div>
          </div>
          <div class="fila3">
            <div class="tecla-ploma"><div class="color-blanco">4</div></div>
            <div class="tecla-ploma"><div class="color-blanco">5</div></div>
            <div class="tecla-ploma"><div class="color-blanco">6</div></div>
            <div class="tecla-azul"><div class="color-blanco">-</div></div>
          </div>
          <div class="fila4">
            <div class="tecla-ploma"><div class="color-blanco">1</div></div>
            <div class="tecla-ploma"><div class="color-blanco">2</div></div>
            <div class="tecla-ploma"><div class="color-blanco">3</div></div>
            <div class="tecla-azul"><div class="color-blanco">+</div></div>
          </div>
          <div class="fila5">
            <div class="tecla-blanca"><div class="color-negro">00</div></div>
            <div class="tecla-ploma"><div class="color-blanco">0</div></div>
            <div class="tecla-azul-grande"><div class="color-blanco">=</div></div>
          </div>
        </div>
      </div>
      <div class="creditos">ERIK SIDANE RAMIREZ ACUÑA</div>
  </div>
</div>


